.no-strong {
    font-weight: 100;
}

.promo-loaded {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    position: absolute;
}

.promo-loaded-text{
    width: 250px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 100px;
}